{% extends 'base1.html' %}
{% block title %}
Подтвердить Задачу
{% endblock %}


{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Завершить задачу {{ task.id }}</h1>
      <form method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="comments">Комментарий:</label>
          <textarea class="form-control" id="comments" name="comments" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label for="quantitative_indicator">Выполнена на(%):</label>
          <input type="number" class="form-control" id="quantitative_indicator" name="quantitative_indicator">
        </div>
        <p> </p>
        <button type="submit" class="btn btn-primary">Accept Task</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}