{% extends 'base1.html' %}

{% block content %}
  <div class="container my-5">
    <h2 class="text-center my-3 pb-3">Задачи Команд</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Текст задачи</th>
          <th>Дедлайн</th>
          <th>Выдана команде</th>
          <th>Статус</th>
          <th>Действия</th>
        </tr>
      </thead>
      <tbody>
        {% for task in tasks %}
        <tr>
          <td>{{ task.task_text }}</td>
          <td>{{ task.deadline | date:"d.m.Y"}}</td>
          <td>{{ task.assigned_to_team.name }}</td>
          <td>{{ task.status }}</td>
          <td>
              <div class="d-grid gap-2">
                <button type="submit" class="btn btn-outline-info">
                    <a href="{% url 'todo:learn-more' task_id=task.id %}" class="card-link">Узнать больше</a>
                </button>
                    <h1></h1>
                <button type="submit" class="btn btn-outline-primary ms-1" >
                     <a href="{% url 'todo:accept' task_id=task.id  %}" class="card-link">Завершить</a>
                </button>
              </div>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="5">Нет задач для команд</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}