{% extends 'base1.html' %}

{% block content %}
  <h2>Настройки рассылки Телеграмм</h2>
  <h1>­­</h1>
  <h6>
  1)Первым делом напишите "/start" ,боту в Телеграмме: <a href="https://t.me/TaskAlarming_bot"> TaskAlarming_bot</a>
  </h6>
  <h6>
  2)Затем напишите "/start" боту  <a href="https://t.me/getmyid_bot">getmyid_bot</a> чтобы узнать ваш индификатор чата
  </h6>
  <h6>
  3)Затем введите полученный id пользователя в окно ниже
  </h6>
  <h6>
  4)Теперь вам будут приходить уведомления о выданных вам задачах
  </h6>

<h1>­­</h1>

  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Сохранить</button>
  </form>
{% endblock %}




