{% extends  'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Добро Пожаловать {% endblock %}
{% block main %}
{% if user.is_authenticated %}


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ user.username }}</h5>
          <p class="card-text">{{ user.email }}</p>
          <a href="{% url 'profile_edit' %}" class="btn btn-primary">Редактировать профиль</a>
        </div>
      </div>
    </div>
   <div class="col-md-12">
      <div class="card">
        <div class="card-body">
           <button type="button" class="btn btn-block btn btn-success">
    <a href="{% url 'redirect_to_tasks' %}">Задачи
        <style>
           a:link {
            color: #00d000;
           }
           a:visited {
            color: #000000;
           }
         </style>
    </a>
</button>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">

            <button type="button" class="btn btn-primary btn-block">
                <a href="{% url 'password_change' %}">Сменить пароль
                    <style>
                       a:link {
                        color: #00d000;
                       }
                       a:visited {
                        color: #000000;
                       }
                     </style>
                </a>
            </button>

            <button type="button" class="btn btn-primary btn-block">
                <a href="{% url 'password_reset' %}">Сбросить пароль
                    <style>
                       a:link {
                        color: #00d000;
                       }
                       a:visited {
                        color: #000000;
                       }
                     </style>
                </a>
            </button>

            <button type="button" class="btn btn-primary btn-block">
    <a href="{% url 'logout' %}">Выйти
        <style>
           a:link {
            color: #00d000;
           }
           a:visited {
            color: #000000;
           }
         </style>
    </a>
</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% else %}
    <p>Вы не вошли в аккаунт</p>
    <a href="{% url 'login' %}">Log In</a>
{% endif %}



{% endblock %}
