{% extends  'base.html' %}
{% load crispy_forms_tags %}


{% block main %}
      {% if user.is_authenticated %}
        <p>Hi {{ user.username }}!</p>
      {% else %}
        <p>You are not logged in.</p>
        <a href="{% url 'login' %}">Log In</a>
      {% endif %}

<button type="button" class="btn btn-primary btn-block">
    <a href="{% url 'redirect_to_tasks' %}">Задачи
        <style>
           a:link {
            color: #00d000;
           }
           a:visited {
            color: #000000;
           }
         </style>
    </a>
</button>

<button type="button" class="btn btn-primary btn-block">
    <a href="{% url 'password_change' %}">Сменить пароль
        <style>
           a:link {
            color: #00d000;
           }
           a:visited {
            color: #000000;
           }
         </style>
    </a>
</button>

<button type="button" class="btn btn-primary btn-block">
    <a href="{% url 'password_reset' %}">Сбросить пароль
        <style>
           a:link {
            color: #00d000;
           }
           a:visited {
            color: #000000;
           }
         </style>
    </a>
</button>

<button type="button" class="btn btn-primary btn-block">
    <a href="{% url 'logout' %}">Выйти
        <style>
           a:link {
            color: #00d000;
           }
           a:visited {
            color: #000000;
           }
         </style>
    </a>
</button>

{% endblock %}


<!--{% block content %}-->
<!--  <div class="container mt-5">-->
<!--    <div class="row">-->
<!--      <div class="col-md-4 mb-4">-->
<!--        <div class="card">-->
<!--          <div class="card-body">-->
<!--            <h5 class="card-title">{{ user.username }}</h5>-->
<!--            <p class="card-text">{{ user.email }}</p>-->
<!--          </div>-->
<!--          <ul class="list-group list-group-flush">-->
<!--            <li class="list-group-item"><a href="{% url 'redirect_to_tasks' %}">Мои задачи</a></li>-->
<!--            <li class="list-group-item"><a href="{% url 'password_change' %}">Сменить пароль</a></li>-->
<!--            <li class="list-group-item"><a href="{% url 'password_reset' %}">Сбросить пароль</a></li>-->
<!--            <li class="list-group-item"><a href="{% url 'logout' %}">Выйти</a></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-8">-->
<!--        {% block page_content %}-->
<!--        {% endblock %}-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--{% endblock %}-->